*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contact{
   
    background-color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: #ffffff;
}

.contact a{
    text-decoration: none;
    color:  #ffffff;
    height: 100%;

}

.contact .contact_term{
    text-align: center;
    /* width: 15%; */
    font-size: medium;
    margin-left: 30px;

}

.dropdown-menu .dropdown-item:hover{
    background-color: #ffffff;
    color: black;
}


.contact .contact_gmail{
    font-size: medium;
    margin-left: 30px;

}

#icon{
    height: 80%;
}

header nav{
    height: 12vh;
}
.emptyspace{
    display: none;
    height: 30vh;
}

.navbar-brand{
    width: 24%;
    padding: 1%;
    color:#E87A5D;
    font-family: Abril Fatface, serif;
    font-size: 35px;
}

.navbar-brand:hover{
    color: #ffffff;
}
#home{
    color: white;
}

.nav-link:hover{
    color: white;
    /* background-color: white; */
}
.nav-item a{
    color: white;
    font-family: Nanum Myeongjo, serif;
    font-size: 18px;
}

#navbar{
    position: sticky;
    top: 0px;
    z-index: 1000;
}


.container-fluid{
    height: 100%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.241);
    color:#E87A5D;
    font-size: medium;
}




body{
    background-color: 
    rgb(0, 0, 0);
  }
  
  .main{
    height:70vh;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background-color: black;
  }
  h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 4rem;
  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color:#E87A5D;
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #A8DADC;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  

    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  

.img{
    padding-bottom: 2%;
}

.about-font{
    font-size: larger; 
    font-family: Nanum Myeongjo, serif;
    color: #ffffff;
    font-weight: 600;

    padding: 0% 12%;
    font-weight: 400;
    font-style: normal;
}
.blurr{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.01);
padding:3%;
}
.foot{
    background-color: rgba(0, 0, 0, 0.795);
    padding: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footnavbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footitems{
    /* width: 10%; */
    margin-left: 20px;
    color: white;
    text-decoration: none;

}

.footitems a:active{
    text-decoration: none;
}
.footitems a:link{
    color: white;
    text-decoration: none;

}
.footitems a:visited{
    color: white;
    text-decoration: none;

}
.footitems a:hover{
    color:#E87A5D;

}
.fot1{
    margin-left: 10px;
}

.col .card{
    /* background-color: #f3b841d0; */
    margin-bottom: 20px;
    border-radius: 30%;
    background-color: black;
    border: 0px;
    color: white;
}

.card img{
    border: 1px solid;
    border-radius: 50%;
}



/* about.html page  styling */

.main_aboutus{
    /* background-color: #E87A5D; */
    padding: 5%;
    
}

.sub-div{
    
    padding: 5% 5% 0% 5%;
}
.sub-div .para1{
 
    /* border: 2px solid red; */
    padding: 3%;
    /* background-color: #3B5BA5; */
    color: black;
    

    
}
.sub-div .img1{
    width: 35%;
    /* border: 2px solid; */
}

.para2{
    padding: 3%;
    color: black;
    /* border-top: 2px solid rgb(51, 0, 255); */
    margin: 2% 5% 0% 5%;
}


/* certification html doc styles */

.certifimg{
    
    padding: 0% 5%;
}
.certificatiom-details{
    padding: 5% 10%;
    font-size: 1.2rem;
    color: white;
    /* color: black; */

}

.key {
    font-size: 3vw;
    display: inline-block;
    letter-spacing: 5px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.929);
    /* color: black; */
    transition: transform 0.2s;
  }
  
  
  
  @keyframes pressDown1 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown2 {
    70%,
    80%,
    100% {
      transform: translateY(0);
    }
    75% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown3 {
    30%,
    40%,
    100% {
      transform: translateY(0);
    }
    35% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown4 {
    40%,
    50%,
    100% {
      transform: translateY(0);
    }
    45% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown5 {
    20%,
    30%,
    100% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown6 {
    60%,
    70%,
    100% {
      transform: translateY(0);
    }
    65% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown7 {
    10%,
    20%,
    100% {
      transform: translateY(0);
    }
    15% {
      transform: translateY(10px);
    }
  }
  
  @keyframes pressDown8 {
    35%,
    45%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(10px);
    }
  }
  
  
  
  .key:nth-child(1) {
    animation: pressDown1 2s infinite;
  }
  
  .key:nth-child(2) {
    animation: pressDown2 3s infinite;
  }
  
  .key:nth-child(3) {
    animation: pressDown3 4s infinite;
  }
  
  .key:nth-child(4) {
    animation: pressDown4 2.5s infinite;
  }
  
  .key:nth-child(5) {
    animation: pressDown5 2.5s infinite;
  }
  
  .key:nth-child(6) {
    animation: pressDown6 3.5s infinite;
  }
  
  .key:nth-child(7) {
    animation: pressDown7 2.2s infinite;
  }
  
  .key:nth-child(8) {
    animation: pressDown8 3.2s infinite;
  }
  

.certi-name{
    color:#f1704d;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
#c1,#c2,#c3{
    height: 130vh;
    width: 99vw;
    padding: 0% 20%;
}
#c1 img,#c2 img,#c3 img{
    height: 100%;
}
#nextbutton,#prevbutton{
    color: rgb(255, 255, 255); 
    /* color: black; */
    padding: 2%;
     background-color: red;
     border-radius: 5px;
}





/* FACLITIE doc tyle */


.detain_mach_heading{
    color: #E87A5D;
    text-align: center;
    margin: 2%;
}

.title {
	font-family: "Cairo";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
	line-height:2
}

.title h1 {
	background-image: url(image/26BROrSHlmyzzHf3i.webp);
	background-size: cover;
	color: transparent;
	background-clip: text;
	background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	margin: 10px 0;
}
.cardflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    padding: 1%;
}

.cardflex .card{
    color: rgb(255, 255, 255);
    /* color: black; */
    background-color: rgb(0, 0, 0);
    width: 650px;
}

.cardflex .card-title{
    color: #E87A5D;
}
.cardflex .card-body{
    height: 100%; 
    padding-top: 5%;
}
.table_for_manpower{
    width: 70vw; 
    padding: 2%;
    margin: auto;
}

.table_for_manpower td,.table_for_manpower th{
    text-align: center;
}

.table_for_manpower .t1{
    text-align: left;
    padding-left: 18%;
}












@media (max-width: 990px) {

   .navbar-collapse {
    background-color:black;
    /* Background for the collapsed menu */
    padding-bottom: 20px; /* Add padding to prevent the menu from overlapping */
}



/* Ensure the body has enough padding to push down content after expanding the navbar */
.navbar-toggler.collapsed + .navbar-collapse {
    margin-bottom: 20px; /* Create space between the navbar and the next element */
}
.contact{
    display: block;
}


.navbar-brand{
    width: 60%;
    font-size: 1.4rem;
}
.nav-item a{
    color: rgb(255, 255, 255);
    
}
.contact_term,.contact_gmail{
   
    text-align: center;
}
.footnavbar{
    display: block;
    text-align: center;
}
.footitems{
    font-size: small;
    margin-bottom: 5px;
}
.title h1{
    font-size: 4rem;
}

}

@media (max-width:600px) {
    .contact .contact_term,.contact_gmail a{
        font-size:small;
        margin-bottom: 5px;
    }

    .navbar-brand{
        width: 50%;
        font-size: 1rem;
    }
    .blurr .fw-medium{
        font-size: 1rem;
    }

    .about-font{
        font-size: small;
    }



    #c1,#c2,#c3{
        height: 70vh;
        width: 99vw;
        padding: 0% 7%;
    }
    #nextbutton,#prevbutton{
        color: rgb(255, 255, 255); 
        padding: 1%;
         background-color: red;
        font-size: xx-small;
    }
    .certificatiom-details{
        padding: 5% 10%;
        font-size: 0.8rem;
    }
    h1{
        text-align:center;
        text-transform: uppercase;
        color: #F1FAEE; 
        font-size: 2.125rem;
      }
        
        .roller{
        height: 2.6rem; 
        line-height: 2.125rem;  
        }
        
        #spare-time {
          font-size: 1rem;
          letter-spacing: 0.1rem;
        }
        
        .roller #rolltext {  
        animation: slide-mob 5s infinite;  
      }
        
        @keyframes slide-mob {
        0%{
          top:0;
        }
        25%{
          top: -2.125rem;    
        }
        50%{
          top: -4.25rem;
        }
        72.5%{
          top: -6.375rem;
        }
      }



      .title h1{
        font-size: 2rem;
    }
    
}




   


